body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* background-image: url("imagens/blob-scene-haikei.png");
    background-size: cover; */
  }

  .img-fundo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
  }
  
  .container {
    background: #b4c4ff;
    border-radius: 17px;
    width: 80%;
    max-width: 1000px;
    /* Define uma largura máxima para o elemento */
    height: 480px;
    box-shadow: 10px 11px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    min-height: 50%;
    margin: 0.3em auto;
    /* Centraliza horizontalmente e aplica margens superior e inferior */
  }
  
  .rectangle-3 {
    background: #ffffff;
    border-radius: 17px;
    width: 50%;
    /* Ajusta a largura do elemento em relação ao container */
    max-width: 1000px;
    /* Define uma largura máxima para o elemento */
    height: 468px;
    margin-top: 0.4em;
    /* Adiciona espaçamento superior */
    margin-left: 0.2em;
  }
  
  @media (max-width: 768px) {
    .rectangle-3 {
      height: 98%;
    }
  }
  
  .recuperar-senha {
    color: #0140bb;
    text-align: left;
    font: 400 10px "Inter", sans-serif;
    margin-left: 4.2em;
  }
  
  .logo-ufac {
    width: 30%;
    /* Ajusta a largura do elemento em relação ao container */
    max-width: 320px;
    /* Define uma largura máxima para o elemento */
    height: auto;
    /* Ajusta a altura proporcionalmente à largura */
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-25%, -50%);
  }
  
  /* Media query para resolução mobile */
  @media (max-width: 768px) {
    .logo-ufac {
      width: 30%;
      /* Reduz a largura do elemento em relação ao container */
      max-width: 200px;
      /* Define uma largura máxima menor para o elemento */
      transform: translate(-25%, -50%);
    }
  }
  
  
  .logo-nai {
    width: 20%;
    /* Ajusta a largura do elemento em relação ao container */
    max-width: 135px;
    /* Define uma largura máxima para o elemento */
    height: auto;
    /* Ajusta a altura proporcionalmente à largura */
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  
  @media (max-width: 768px) {
    .logo-nai {
      width: 30%;
      /* Reduz a largura do elemento em relação ao container */
      max-width: 200px;
      /* Define uma largura máxima menor para o elemento */
      transform: translate(-50%, -50%);
    }
  }
  
  
  
  .rodape {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: #000000;
    text-align: center;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  
  /*_______________________________________________________FORMULARIO______________________________________________________*/
  
  .input-user {
    color: #000000;
    font-size: 0.9rem;
    background-color: #dee4f8;
    width: 80%;
    height: 35px;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 40%;
    margin-left: 8%;
  }
  
  @media (max-width: 768px) {
    .input-user {
      margin-top: 80%;
    }
  }
  
  .input-pass {
    color: #000000;
    font-size: 0.9rem;
    background-color: #dee4f8;
    width: 80%;
    height: 35px;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    margin-left: 8%;
  }
  
  
  .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 8%;
    transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  
  .input-user,
  .input-pass:focus {
    outline: none;
  }
  
  .input-user:focus+.input-border,
  .input-pass:focus+.input-border {
    width: 100%;
  }
  
  .id-user,
  .id-pass {
    position: relative;
    --width-of-input: 300px;
  }
  
  .input-user,
  .input-pass {
    font-size: 0.8rem;
    padding-inline: 1em;
    padding-block: 0.8em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .input-border-alt {
    height: 3px;
    background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
    transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
  }
  
  .input-user:focus+.input-border-alt,
  .input-pass:focus+.input-border-alt {
    width: 80%;
  }
  
  /* BOTÃO DO FORMULARIO */
  
  .butt-entar {
    color: #ffffff;
    width: 20%;
    max-width: 80px;
    height: 35px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 20px -20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background-color: #6ca4f7;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    margin-top: 7%;
    margin-left: 72%;
  }
  
  @media (max-width: 768px) {
    .butt-entar {
      margin-top: 20%;
      min-width: 40%;
      transform: translate(-61%);
    }
  }
  
  .butt-entar:hover {
    color: #000000;
    background-color: #81fa71;
    box-shadow: 0px 0px 20px -18px rgba(0, 0, 0, 0.25);
  }
  
  .butt-entar:active {
    transform: scale(0.95);
  }