{% extends 'baseAdmin.html' %}

{%block opcoes%}
    <a class="btn btn-secondary" style="margin-right: 30px; margin-left: 30px;" href="/avisos/aviIndex" role="button">Voltar</a>
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
          method="POST" action="{% url 'buscarAviso' %}">
        <div class="input-group">
            {% csrf_token %}
            <input type="search" class="form-control bg-light border-0 small" placeholder="Busque avisos aqui..."
                   aria-label="Search" aria-describedby="basic-addon2" name="searched">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
{%endblock%}

{%block conteudo%}
<style>

</style>
<body style="background-color: #f5f7fa">
    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Avisos</h1>
    </div>
    <div style="margin-left: 250px; margin-right: 250px">
        <h1 style="text-align: center;">Atualizando o aviso "{{ aviso.avi_titulo }}"</h1>
        <br>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}
            <div style=" float: left; position: relative; left: 50%;">
                <input style="margin-bottom: 50px; float: left; position: relative; left: -50%;"
                       class="btn btn-primary" type="submit" value="Enviar">
            </div>
        </form>
    </div>
</body>
{%endblock%}