{% extends 'baseLog.html' %}



{% block conteudo %}

<h1 class="mt-3 mb-3">Redefinição de senha</h1>
{% if not user.is_authenticated %}

<p>Esqueceu sua senha? Digite seu endereço de e-mail e enviaremos um e-mail com instruções para definir uma nova Senha.</p>

<form method="post"><input type="hidden" name="csrfmiddlewaretoken" value="TEHT76cCrG4gH9SX4OmJ9RNbtDrr8GmLpOPGHvvRjbd1VAUmiaKmhPqvu6lCj1GH">
{% csrf_token %}
    <fieldset class="module aligned">
    <div class="form-row field-email ">

        <label for="id_email">Email:</label>
        <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
    </div>
    <div class="text-center">
        <input type="submit" class="btn btn-success " value="Receber por Email">
    </div>
</fieldset>
</form>
{% else %}
<p>
  Voce fez login com {{ user.last_name }}, <a href="{% url 'logout' %}">clique aqui</a> para sair!
</p>
{% endif %}
{% endblock %}