<!-- {% extends 'baseAvisos.html' %} !-->

{%block conteudo%}
<style>

</style>
<body style="background-color: #f5f7fa">
    <br>
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
      <div class="d-flex align-items-center">
        <a class="btn btn-secondary" style="margin-right: 30px; margin-left: 30px;" href="/feedbacks" role="button">Voltar</a>
      </div>
    </div>
    <div style="margin-left: 250px; margin-right: 250px">
        <h1 style="text-align: center;">Atualizando o feedback "{{ feedback.fee_titulo }}"</h1>
        <br>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}
            <div style=" float: left; position: relative; left: 50%;">
                <input style="margin-bottom: 50px; float: left; position: relative; left: -50%;"
                       class="btn btn-primary" type="submit" value="Enviar">
            </div>
        </form>
    </div>
</body>
{%endblock%}