{% extends 'baseTutor.html' %}
<html lang="pt">

{%block opcoes%}
    <a class="btn btn-secondary" style="margin-right: 30px"href="{% url 'tutorFeedbackAll' user.id %}" role="button">Voltar</a>
    <a style="margin-right: 10px" href="{% url 'tutorRespostaFeedback' user.id feedback.fee_id %}" methods="GET" class="btn btn-success">Enviar Resposta</a>

{%endblock%}

{%block conteudo%}

<div class="container-fluid" align="">
    <section>
        <div class="row">
            <div class="col-12 mt-3 mb-1">
                <h5 class="text-uppercase" align="center">Lista de Conversa do Feedback: {{feedback.fee_id}}</h5>
            </div>
        </div>

         <div class="row" style="">
            <div class="col-xl-8 col-md-12" style="margin: 0 auto; margin-top: 10px">
                <div class="card mb-3">
                    <div class="card-header bg-success text-white">
                        <div class="d-flex justify-content-between">
                            <div class="me-auto p-2 bd-highlight d-flex justify-content-between">
                                <H3 class="">{{ feedback.fee_acompanhamento }}</H3>
                            </div>
                            <div class="me-auto p-2 bd-highlight d-flex justify-content-between">
                                <H3 class="">Data: {{ feedback.fee_data|date:'d/m/Y H:i:s' }}</H3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Tipo de Feedback: {{ feedback.fee_titulo }}</h4>
                        <textarea class="form-control " rows="5" disabled>{{feedback.fee_descricao}}</textarea>
                        {% if feedback.fee_arquivo %}
                            <div class="row">
                                <h4 style="margin-left: 15px; padding-top: 10px">Anexo:</h4>
                                <p class="mb-0" style="margin-left: 5px; padding-top: 15px">
                                    <a style="color:black;" type="button" class="btn-link"
                                       href="{% url 'baixarFileFeedback' feedback.fee_arquivo %}">{{ feedback.fee_arquivo }}
                                    </a>
                                </p>
                            </div>
                        {% endif %}
                        <div class="">
                            <div class="row">
                                <h4 style="margin-left: 15px; padding-top: 10px">Emissor:</h4>
                                <p class="mb-0" style="margin-left: 5px; padding-top: 15px">{{ feedback.fee_emissor.email }}</p>
                            </div>
                            <div class="row">
                                <h4 style="margin-left: 15px; padding-top: 10px">Código do feedback:</h4>
                                <p class="mb-0" style="margin-left: 5px; padding-top: 15px">{{ feedback.fee_id }}</p>
                            </div>
                            {% if feedback.fee_anterior %}
                            <div class="row">
                                <h4 style="margin-left: 15px; padding-top: 10px">Feedback anterior:</h4>
                                <p class="mb-0" style="margin-left: 5px; padding-top: 15px">{{ feedback.fee_anterior }}</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
{%endblock%}
