{% extends 'baseLogin.html' %}
{% load static %}

{% block conteudo %}

{% if user.is_authenticated %}
    {% if user.user_type == 1 %}
        <!-- Código para exibir informações para o tipo de usuário 1 -->
    {% elif user.user_type == 2 %}
        <!-- Código para exibir informações para o tipo de usuário 2 -->
    {% elif user.user_type == 3 %}
        <!-- Código para exibir informações para o tipo de usuário 3 -->
    {% elif user.user_type == 4 %}
        <!-- Código para exibir informações para o tipo de usuário 4 -->
    {% elif user.user_type == 5 %}
        <!-- Código para exibir informações para o tipo de usuário 5 -->
    {% endif %}
    <br>
    <p>Para deslogar, <a style="color:black;" type="button" class="btn-link" href="{% url 'authLogout' %}">clique aqui!</a></p>
{% else %}
    <img class="logo-nai" src={% static '../static/img/NAI.png' %} />
    <form class="form" method="POST" action="">
        {% csrf_token %}
        <div class="id-user">
            <input class="input-user" placeholder="CPF" required="" type="text" name="usuario">
            <span class="input-border input-border-alt"></span>
        </div>

        <div class="id-pass">
            <input class="input-pass" placeholder="Senha" required="" type="password" name="senha">
            <span class="input-border input-border-alt"></span>
        </div>

        <button class="butt-entar" type="submit"> ENTRAR </button>
    </form>

    <a class="recuperar-senha" href="{% url 'password_reset' %}">Recuperar senha</a>
{% endif %}
{% endblock %}
