{% load static %}

<!DOCTYPE html>
<HTML>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,user-scalable=no">
  <title>Capivara</title>
  <link rel="stylesheet" href={% static 'css/CSS_login.css' %}>
  <script src="JS_login.js"></script>

  <script></script>
</head>

<body>

  <div class="container">
    <div class="rectangle-3">
      <img class="logo-nai" src={% static 'imgs/NAI.png' %}/>

      <form class="form">
        <div class="id-user">
          <input class="input-user" placeholder="Nome" required="" type="text">
          <span class="input-border input-border-alt"></span>
        </div>

        <div class="id-pass">
          <input class="input-pass" placeholder="Senha" required="" type="password">
          <span class="input-border input-border-alt"></span>
        </div>

        <button class="butt-entar"> ENTRAR </button>


      </form>

      <div class="recuperar-senha">Recuperar senha</div>

    </div>

    <img class="logo-ufac" src={% static 'imgs/logo-ufac.png' %} />

  </div>







  <img class="img-fundo" src={% static 'imgs/blob-scene-haikei.png' %}/>

</body>
<footer>
  <div class="rodape">
    © 2023 Núcleo de Tecnologia da Informação - LOGO NTI <br />
    Universidade Federal do Acre - BR 364, km 4 - Distrito Industrial Rio Branco - Acre
  </div>

</footer>

</HTML>