{% extends 'baseLogin.html' %}

{% block conteudo %}
    <style>
        .disabled-link {
          pointer-events: none;
        }
    </style>
    <h1 class="mt-3 mb-3" align="center">Redefinição de Senha</h1>
    {% if user.is_authenticated %}
        {% if user.user_type == 1 %}
          <p>Você já realizou login como {{ user.username }}! <a style="color:black;" type="button" class="btn-link" href="{% url 'aviIndex' %}">Retorne ao site aqui!</a></p>
        {% elif user.user_type == 2 %}
          <p>Você já realizou login como {{ user.username }}! <a style="color:black;" type="button" class="btn-link" href="{% url 'aviIndexAluno' %}">Retorne ao site aqui!</a></p>
        {% elif user.user_type == 3 %}
          <p>Você já realizou login como {{ user.username }}! <a style="color:black;" type="button" class="btn-link" href="{% url 'aviIndexMonitor' %}">Retorne ao site aqui!</a></p>
        {% elif user.user_type == 4 %}
          <p>Você já realizou login como {{ user.username }}! <a style="color:black;" type="button" class="btn-link" href="{% url 'aviIndexTutor' %}">Retorne ao site aqui!</a></p>
        {% elif user.user_type == 5 %}
          <p>Você já realizou login como {{ user.username }}! <a style="color:black;" type="button" class="btn-link" href="{% url 'aviIndexInterprete' %}">Retorne ao site aqui!</a></p>
        {% endif %}
        <br>
        <p>Para deslogar, <a style="color:black;" type="button" class="btn-link" href="{% url 'authLogout' %}">clique aqui!</a></p>
    {% else %}
        <div align="center">
            <p style="color:blue">Email enviado com sucesso!</p>
            <p>Se o email digitado estiver correto, você receberá um email para redefinir sua senha em breve.</p>
            <p>Caso o email não apareça em sua caixa de entrada, verifique sua caixa de spam ou
                <a style="color:black;" type="button" class="btn-link" href="/auth/authLogin">tente novamente aqui!</a></p>
        </div>
    {% endif %}
{% endblock %}