{% extends 'baseMonitor.html' %}

{%block opcoes%}
    <a class="btn btn-secondary" style="margin-right: 30px; margin-left: 30px;" href="{% url 'monitor' user.id %}" role="button">Voltar</a>
{%endblock%}

{%block conteudo%}
<style>

</style>
<body style="background-color: #f5f7fa">
    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Edição de Perfil</h1>
    </div>
    <div style="margin-left: 250px; margin-right: 250px">
        <h1 style="text-align: center;">Atualizando informações de "{{ monitor.mon_nome }}"</h1>
        <br>
        <form action="" method="POST">
            {% csrf_token %}

            {{ form.as_p }}
            <div style=" float: left; position: relative; left: 50%;">
                <input style="margin-bottom: 50px; float: left; position: relative; left: -50%;"
                       class="btn btn-primary" type="submit" value="Enviar">
            </div>
        </form>
    </div>
</body>
{%endblock%}