{% extends 'baseGerirAlunos.html' %}

{%block conteudo%}
<style>
  * {
    box-sizing: border-box;
  }

  .stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
  }
</style>
<body style="background-color: #f5f7fa">
    <br>
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
      <div class="d-flex align-items-center">
        <a class="btn btn-secondary" style="margin-right: 30px; margin-left: 30px;" href="/membros/alunos" role="button">Voltar</a>
      </div>
    </div>
    <div class="container-fluid" align="center">
      <section>
        <div class="row">
          <div class="col-12 mt-3 mb-1">
          </div>
        </div>
        <div class="row" style="">
            <div class="col-xl-8 col-md-12" style="margin: 0 auto; margin-top: -10px">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                          <i class="fas fa-pencil-alt text-info fa-3x me-4"></i>
                      </div>
                      <div style="text-align: left; margin-left: 20px">
                          <h1><i style="color:black;">Visualizacao</i></h1>
                          <h1><i style="color:black;">de Perfil</i></h1>
                      </div>
                    </div>
                  </div>
                  <a href="/membros/alunos/aluno" class="stretched-link"></a>
                </div>
              </div>
            </div>
        </div>
        <div class="row" style="">
            <div class="col-xl-8 col-md-12" style="margin: 0 auto; margin-top: -10px">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between p-md-1">
                      <div class="d-flex flex-row">
                        <div class="align-self-center">
                          <i class="fas fa-pencil-alt text-info fa-3x me-4"></i>
                        </div>
                        <div style="text-align: left; margin-left: 20px">
                          <h1><i style="color:black;">Visualizacao</i></h1>
                          <h1><i style="color:black;">de Acompanhantes</i></h1>
                        </div>
                      </div>
                    </div>
                    <a href="/membros/alunos/acompanhantes" class="stretched-link"></a>
                  </div>
                </div>
            </div>
        </div>
      </section>
    </div>
</body>

{%endblock%}