{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <link href={% static "assetsLogin/css/style.css" %} rel="stylesheet">
  <link href={% static 'css/CSS_login.css' %} rel="stylesheet">
  <script src="JS_login.js"></script>
  <title>Sistema Estágio</title>
</head>

<body>
  <div class="container">
    <div class="rectangle-3">
      
      {%block conteudo%}
      {%endblock%}

    </div>
    <img class="logo-ufac" src={% static '../static/img/Logo-ufac.png' %} />

  </div>
  <img class="img-fundo" src={% static '../static/img/blob-scene-haikei.png' %} />
  <footer class="rodape">
    <div class="container-fluid">
        <div class="row" style="display: block">
            <div class="justify-content-center">
                &copy; <script>document.write(new Date().getFullYear())</script>
                Núcleo de Tecnologia da Informação - <a href="https://www.ufac.br/site/unidades/nucleos/nti-1/" target="_blank"><img  src={% static '../static/img/nti_p.png' %} alt="LOGO NTI"></a><br>
                <b>Universidade Federal do Acre</b><span><i style="font-size: 0.900em;"> - BR 364, km 4 - Distrito Industrial Rio Branco - Acre.</i></span>
            </div>
        </div>
    </div>
</footer>

</body>