{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href={% static "assetsLogin/css/bootstrap.min.css" %}  rel="stylesheet">
    <link href={% static "assetsLogin/css/font-awesome.min.css" %} rel="stylesheet">
    <link href={% static "assetsLogin/css/style.css" %} rel="stylesheet">

    <title>Sistema Estágio</title>
</head>
<body style="min-height: 100%; bottom: 0;">
    <section class="form-02-main" style="min-height: 100%; bottom: 0;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="_lk_de">
              <div class="form-03-main" style="min-width: 80%;">
                <div class="" align="center" style="min-width: 100%;">
                  <h1>Sistema Estágio</h1>
                  <img src={% static "Ufac-brasao-125x173.png" %}>
                </div>
                {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                  {% endfor %}
                {% endif %}
                {%block conteudo%}
                {%endblock%}

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</body>