{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <link href={% static "assetsLogin/css/style.css" %} rel="stylesheet">
  <link href={% static 'css/CSS_login.css' %} rel="stylesheet">
  <script src="JS_login.js"></script>
  <title>Sistema Estágio</title>
</head>

<body>
  <div class="container">
    <div class="rectangle-3">
      <img class="logo-nai" src={% static '../static/img/NAI.png' %} />




      {%block conteudo%}
      {%endblock%}


    </div>
    <img class="logo-ufac" src={% static '../static/img/Logo-ufac.png' %} />

  </div>
  <img class="img-fundo" src={% static '../static/img/blob-scene-haikei.png' %} />

</body>