{% load static %}

<!DOCTYPE html>
<html lang="pt">

<head>
  <title>Sistema NAI</title>
  {% include 'parciais/_head.html' %}
</head>

<body>
  {% include 'parciais/_navGerirTutores.html' %}
  <!-- Page Content -->
  {%block conteudo%}
  {%endblock%}

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
     <!-- Vlibras-->
     <div vw class="enabled">
      <div vw-access-button class="active"></div>
      <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
      </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
      new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>


</body>

</html>